POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET_KEY=dev-secret-key-with-enough-length
APP_PAGOS_URL=http://app-pagos:8002
CORS_ORIGINS=*
AUTO_CREATE_TABLES=true
AUTO_SEED_PRODUCTS=true

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_URL=
MP_SUCCESS_URL=http://54.167.222.109
MP_FAILURE_URL=http://54.167.222.109
MP_PENDING_URL=http://54.167.222.109