POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET_KEY=dev-secret-key-with-enough-length
APP_PAGOS_URL=http://app-pagos:8002
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
AUTO_CREATE_TABLES=true
AUTO_SEED_PRODUCTS=true

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_URL=
MP_SUCCESS_URL=http://localhost:4200
MP_FAILURE_URL=http://localhost:4200
MP_PENDING_URL=http://localhost:4200
