POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres-db:5432/ecommerce
JWT_SECRET_KEY=change-this-secret-key-before-deploy
APP_PAGOS_URL=http://app-pagos:8002
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
AUTO_CREATE_TABLES=true
AUTO_SEED_PRODUCTS=true

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_URL=
MP_SUCCESS_URL=https://www.mercadopago.cl
MP_FAILURE_URL=https://www.mercadopago.cl
MP_PENDING_URL=https://www.mercadopago.cl
